/.vs/Panda.Web/v15
/packages
/Panda.Common/obj
/Panda.Common/bin
/Panda.Form/obj
/Panda.Form/bin
/Panda.Web/obj
/Panda.Web/bin
/Panda.WinForm/obj
/Panda.WinForm/bin
/.vs/Panda/v15
/.vs
/src/Panda.WinForm/bin
/src/Panda.WinForm/obj
/src/Panda.Web/obj
/src/Panda.Web/App_Data
/src/Panda.Web/bin
/src/Panda.Form/bin
/src/Panda.Common/obj
/src/Panda.Common/bin
/src/.vs
/src/packages
/src/Panda.NetCore.Web/*
/src/Panda.ConsoleApp/*
/src/SignalRChat/obj
/src/SignalRChat/bin
/src/Panda.NetCore.WebApi/obj
/src/Panda.NetCore.WebApi/bin
/src/AndroidApp1/obj
/src/AndroidApp1/bin/Debug
/src/App1/obj
/src/App1/bin/Debug
/src/ComSerial/obj
/src/ComSerial2/obj/Debug
/src/Crawler/bin/Debug/netcoreapp3.1
/src/Crawler/obj
/src/CreateNCSql/bin/Debug/netcoreapp3.1
/src/CreateNCSql/obj
