@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
@section Scripts
{
    <script src="~/Scripts/jquery-form.js"></script>
}
<form id="form1" enctype="multipart/form-data" action="~/Home/Register" method="post">
    <div class="row">

        <div class="col-md-8 form-control">
            UserName:
            <input type="text" name="UserName" />
        </div>
        <div class="col-md-8 form-control">
            PassWord:
            <input type="password" name="PassWord" />
        </div>
        <input type="hidden" name="HeadIconFilePath" id="HeadIconFilePath" />
        <div class="col-md-8 form-control">
            HeadIcon:
            <form id="form2" enctype="multipart/form-data" action="~/Home/Register" method="post">
                <input type="file" name="HeadIcon" id="HeadIcon" />
            </form>
        </div>
        <div class="col-md-8 form-control">

            <input type="submit" value="提交" />
        </div>
    </div>
</form>
<div id="msg"></div>
<script>

    //$("#HeadIcon").change(function () {
    //    $("#form2").submit();
    //    return false;
    //});
    $("#HeadIcon").change(function () {
        $('#form2').ajaxSubmit({
            dataType: 'json',
            beforeSubmit: function (arr, $form, options) {
                $("#msg").append("<div>准备上传..." + options + "</div>");
                console.log("准备上传");
                console.log(arr);
                console.log($form);
                console.log(options);
            }
            , uploadProgress: function (a, b, c, d) {
                $("#msg").append("<div>上传进度：" + a + "," + b + "," + c + "," + d + "</div>");

                console.log("上传进度");
                console.log(a);
                console.log(b);
                console.log(c);
                console.log(d);
            }
            , success: function (data, status, xhr) {
                $("#msg").append("<div>成功：" + data + "</div>");
                console.log("成功");
                console.log(data);
                console.log(status);
                console.log(xhr);
                $("#HeadIcon").val("");
                $("#HeadIconFilePath").val(data.name);
            }
            , error: function (xhr) {
                $("#msg").append("<div>失败：" + xhr + "</div>");
            }
        });
    });


</script>
